{% extends "main.html" %}
{% block training %}


    <!------------Category Selection------------->
    <div class="container-fluid col-lg-4">
        <h3 class="center-align">Edit Account</h3>
    
    
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                           <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name"></label>
                </div>
                </div><br>
                <form class="" method="POST" action="{{ url_for('edit_account', training_id=training._id) }}" ">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="program_name" name="program_name" minlength="5" maxlength="50"
                              value="{{ training.program_name }}"  type="text" class="validate form-control form-control-lg" required>
                            <label for="Program_name"><h5>Program Name</h5></label>
                        </div>
                    </div>
                    <!---------------------- Description-------------->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-align-left prefix"></i>
                            <textarea id="exercise_description" name="exercise_description" minlength="5"
                                maxlength="200" class="textarea validate form-control form-control-lg" required>
                                {{- training.exercise_description -}}
                            </textarea>
                            <label for="exercise_description"><h5>Exercise Description</h5></labe>
                        </div>
                    </div>
                    <!--------------- Date------------->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-calendar-alt prefix"></i>
                            <input id="training_date" name="training_date" type="text" value="{{ training.training_date }}" class="datepicker validate form-control form-control-sm" required>
                            <label for="training_date"><h5>Training Date</h5></label>
                        </div>
                    </div>
        
                    <!---------------Submit Button -------------->
                    <div class="row">
                        <div class="col s12 center-align">
                    <!----------------Cancel Edit--------------->
                    <a href="{{ url_for('trainings') }}" class="btn btn-warning">Cancel</a>
                    <button class="btn btn-success" type="submit" name="action">
                            <i class="bi bi-align-center">Edit Account</i>
                            
                        </button>
                        </div>
                    </div>
                </form>
            </div><br>
    </div>



{% endblock %}