<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fitness Updates</title>
</head>
<body>
    {% for fitness_update in fitness_updates  %}
       {{ fitness_update.category_name }}<br>
       {{ fitness_update.training_program}}<br>
       {{ fitness_update.exercise_description}}<br>
       {{ fitness_update.training_date}}<br>
    {% endfor %}
</body>
</html>