{% extends "main.html" %} {% block training %}

<section id="welcome">
    <div class="container">
         <div class="welcome text-center">
              
            <h1 class="center-align">
                My Account
            </h1>
                   
         </div>
         </div>
         <div class="container">
            <br/>
            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form class="card card-sm">
                                        <div class="card-body row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <i class="fas fa-search h4 text-body"></i>
                                            </div>
                                            <!--end of col-->
                                            <div class="col">
                                                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                            </div>
                                            <!--end of col-->
                                            <div class="col-auto">
                                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                                            </div>
                                            <!--end of col-->
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
        </div>
        {% if trainings|length > 0 %}
        <div class="row">
            {% for training in trainings %}
                <div class="card-content">
                    <p><strong>{{ trainings.program_name }}</strong> : {{ trainings.training_date }}</p>
                    <strong>{{ trainings.category_name }}</strong>
                <p>{{ trainings.exercise_description }}</p>
                <p><em>by: {{ training.created_by }}</em></p>
                </div>
            
                {% if session.user|lower == trainings.created_by|lower %}
                    <div class="card-action">
                        <a href="{{ url_for('delete_tip', tip_id=tip._id) }}" class="btn-small blue lighten-1">Done</a>
                        <a href="{{ url_for('edit_tip', tip_id=tip._id) }}" class="btn-small yellow darken-3">Edit</a>
                    </div>
                {% endif %}
                --->
                </div>
            </div>
            
            {% endfor %}
        
        </div>
        {% else %}
         <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
        {% endif %}
                       
             </div>
             </div>
</section>

    
        


{% endblock %}